.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.register {
  margin: 10% auto;
  padding: 10px 0;
  text-align: center;
}

.register h1 {
  font-size: 40px;
  font-weight: 200;
}

body {
  font-family: "McLaren", cursive;
  color: white;
  font-weight: 300;
  background: #62b0ae;
  width: 100%;
  height: 100%;
}


input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #58a6a5;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

header {
  background-color: #62b0ae;
  margin: auto -5px;
  padding: 5px 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #ffffff;
  font-family: "McLaren", cursive;
  font-weight: 150;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
